langchain
langchain-openai
dotenv
langchain-google-genai
langchain-groq
langchain-anthropic
streamlit
langchain-community
langgraph
pypdf
beautifulsoup4
wikipedia
langchain-text-splitters
langchain-huggingface
langchain-chroma
sentence-transformers
pydantic

